<!doctype html>

<html>
<head>
   <title>Food Group</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
   <script src="/js/javascript.js"></script>
   <script src="/js/shoppingList.js"></script>

   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
   <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
   <link href="/css/improved.css" rel="stylesheet" />
</head>
<body>
   <header id="main-header">
      <div class="container">
         <h1 class="tabHeaders listHeader">Shopping List</h1>
      </div>
   </header>

   <div class="container-fluid">
            {{#each lists}}
            <h1 class="member-list">{{name}}</h1>
            <form>
               {{#each items}}
               <div class="listitem"">
                  <input type="checkbox" class="largebox" id="{{listid}}" name="{{itemname}}" value="{{itemname}}" />
                  <label class="shoplist" id="{{listid}}" for="{{itemname}}">{{itemname}}</label><br />
               </div>
               {{/each}}
            </form>
               <!--{{#each items}}
               <h2 class="listitem" id="{{listid}}">- {{itemname}}</h2>
               {{/each}}-->
            {{/each}}
   </div>

   <button id="addSectionbtn" data-toggle="modal" data-target="#myModal"><i class="fa fa-plus"></i></button>

   <!--Invite Member popup-->
   <div id="myModal" class="modal fade">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1>Add Shopping List Item</h1>
               <span class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            </div>
            <div class="modal-body">
               <form id="addItem" role="form" method="POST" action="/shoppingList">
                  <label for="itemName" class="col-form-label">Item:</label>
                  <input type="text" placeholder="Eggs" name="itemName" class="form-control" required />
                  <div class="modal-footer">
                     <input class="btn btn-primary btn-lg btn-block adding" type="submit" id="confirmItembtn" value="Confirm" />
                  </div>
               </form>
            </div>
         </div>
      </div>
   </div>

   <!--Confirm Delete Popup-->
   <div id="itemClick" class="modal">
      <div class="modal-dialog" role="document">
         <div class="modal-content">
            <div class="modal-header">
               <h1>Are you sure you want to delete?</h1>
               <span class="close" id="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-window-close" aria-hidden="true"></i></span>
            </div>
            <div class="modal-body">
               <button type="button" id="cancel" class="btn btn-secondary">Cancel</button>
               <button type="button" id="deleteItemBtn" class="btn btn-danger">Delete</button>
            </div>
         </div>
      </div>
   </div>
 <!-- Nav bar -->
   <div class="container-fluid">
      <div class="row fixed-bottom">
         <div class="col bottomNav">
            <a href="/" class="blackText">
               <i class="fa fa-cutlery"></i>
               Sections
            </a>
         </div>
         <div class="col bottomNav">
            <a href="shoppingList" class="blackText">
               <i class="fa fa-list-alt"></i>
               Shopping List
            </a>
         </div>
         <div class="col bottomNav">
            <a href="group" class="blackText">
               <i class="fa fa-users"></i>
               Group
            </a>
         </div>
      </div>
   </div>

   <!-- Needed for Bootstrap -->
   <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
   <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>